<include file="Layout:header" />

</head>
<body ontouchstart class="xhsd_search">
	<!-- 搜索 -->
	<div class="weui_search_bar">
		<input type="search" class="search-input" id='search' placeholder='关键字' style="box-sizing:content-box"/>
		<button  class="weui_btn weui_btn_mini weui_btn_primary"><i class="icon icon-4"></i></button>    
	</div>

	<!-- 搜索结果 -->
	<div class="book-lists">
		<a class="book-list-l" href="{:U('book')}">
			<div class="weui-flex">
				<div class="weui-flex-item tcenter">
					<img src="__PUBLIC__/Home/images/icon.png" style="height:100px;width:80px;margin:10px auto">
				</div>
			</div>
			<div class="weui-flex">
				<div class="weui-flex-item book-title">
					我的那些日子dasdasdasdasdasdasdasd
				</div>
			</div>
			<div class="weui-flex">
				<div class="weui-flex-item book-price" >
					<font color="red">&yen; 800</font>
				</div>
				<div class="weui-flex-item book-read" >
					浏览 190
				</div>
			</div>
		</a>
		<a class="book-list-r" href="{:U('book')}">
			<div class="weui-flex">
				<div class="weui-flex-item tcenter">
					<img src="__PUBLIC__/Home/images/icon.png" style="height:100px;width:80px;margin:10px auto">
				</div>
			</div>
			<div class="weui-flex">
				<div class="weui-flex-item book-title">
					我的那些日子dasdasdasdasdasdasdasd
				</div>
			</div>
			<div class="weui-flex">
				<div class="weui-flex-item book-price" >
					<font color="red">&yen; 800</font>
				</div>
				<div class="weui-flex-item book-read" >
					浏览 190
				</div>
			</div>
		</a>
		<a class="book-list-l" href="{:U('book')}">
			<div class="weui-flex">
				<div class="weui-flex-item tcenter">
					<img src="__PUBLIC__/Home/images/icon.png" style="height:100px;width:80px;margin:10px auto">
				</div>
			</div>
			<div class="weui-flex">
				<div class="weui-flex-item book-title">
					我的那些日子dasdasdasdasdasdasdasd
				</div>
			</div>
			<div class="weui-flex">
				<div class="weui-flex-item book-price" >
					<font color="red">&yen; 800</font>
				</div>
				<div class="weui-flex-item book-read" >
					浏览 190
				</div>
			</div>
		</a>
		<div class="clearfix"></div>
	</div>

	<include file="Layout:nav_footer" />

	<script type="text/javascript">
        $('.tab-bottom .weui_tabbar_item:first').addClass('weui_bar_item_on');
	</script>
</body>
</html>