<!-- 底部导航 -->
	<div class="weui_cells_title bot_height" >&nbsp;</div>
	<div class="weui_tab tab-bottom bot_height" >
        <div class="weui_tabbar">
            <a href="index.html" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="__PUBLIC__/Home/images/icon_nav_msg.png" alt="">
                </div>
                <p class="weui_tabbar_label">首页</p>
            </a>
            <a href="profile.html" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="__PUBLIC__/Home/images/icon_nav_msg.png" alt="">
                </div>
                <p class="weui_tabbar_label">个人中心</p>
            </a>             
        </div>
    </div>